*{
    
    color: rgb(255, 255, 255);
    font-family:'Open Sans' , 'sans-serif';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

  
body{
    background-color:#7a2432;
    margin-top:20px;
}

#heading{
    text-align: center;
    color: rgb(241, 111, 111);
    font-family: 'Roboto';
    text-align: left;
    font-size: 35px;
}
#heading_2{
    text-align: center;
    color: rgb(238, 173, 120);
    font-family: 'Roboto';
    text-align: left;
    font-size: 100px;
    width:1000px;
}

#navbar{
    font-size: 28px;
    word-spacing: 70px;
    font-family: 'Light 300','Kanit';
    color: rgb(39, 185, 154);
}

#wash_hands{
    text-align: right;
    font-family: 'Light 300','Kanit';
    font-size: 50px;
}

#wear_mask{
    display: flex;
    align-items: center;
    font-family: 'Light 300','Kanit';
    font-size: 50px;
    justify-content: space-between;
    padding: 30px 40px;
    border:#7a2432 5px solid;
    margin-top:30px;
    width:800px;
    margin-left:40px;
    margin-bottom:30px;
}

#wear_mask p{
    margin-right:100px;
    color:#7a2432;
}

#wash_hands{
    display: flex;
    align-items: center;
    font-family: 'Light 300','Kanit';
    font-size: 50px;
    justify-content: space-between;
    padding: 30px 40px;
    padding-left:10px;
    border:#7a2432 5px solid;
    width:800px;
    margin-left:610px;

}

#wash_hands p{
    color:#7a2432;
    margin-left:40px;
}

.tips{
    border: rgb(252, 217, 184) 1px solid;
    font-size: 50px;
    text-align: center;
    color:#7a2432
}

.tips p{
    color:#7a2432;
    margin-top:30px;
    font-style: bold;
    font-family:'Roboto';
    font-size:80px;
}

#get_vaccinated{
    display: flex;
    align-items: center;
    font-family: 'Light 300','Kanit';
    font-size: 50px;
    justify-content: space-between;
    text-align: left;
    color:#7a2432;
    padding: 30px 40px;
    border:#7a2432 5px solid;
    margin-top:30px;
    width:800px;
    margin-left:40px;
    margin-bottom: 30px;
}



#table{
    margin-left: 190px;
    width: 75%;
    height: 75%;
    text-align: center;
    border: 3px solid black;
}


th{
    color:#222;
    height: 15%;
    font-family: 'Light 300','Kanit';
    font-size:30px;
    background-color: rgb(252, 217, 184);
}

tr{
    background-color: rgb(252, 239, 184);

}
td{
    font-family: 'Light 300','Kanit';
    height:10%;
    font-size:20px;
    color: rgb(133, 60, 60);
    font-weight:bold;
}
a.one:hover{color: yellow}
a.one{
    text-decoration: none;
    font-family: 'Light 300','Kanit';
}

#ques{
    text-align: center;
}
#p{
    text-align: center;
    width:77%;
    margin: auto;
}

.page1{
    margin-left:70px;
    height:100%;
    margin-right:40px;
}

.whee{
    margin-bottom: 75px;
    border:#c23a22 3px solid;
    align-self: center;
    width:1200px;
    margin-left:160px;
    margin-top:10px;
    padding:20px;
    
}
.teeps{
    background-color: #ffcccb;
}

.right{
    float:right;
}

.symptoms{
    padding-top:40px;
}
.symptoms p{
    text-align:center;
    font-family:'Roboto';
    font-size:80px;
    color:rgb(238, 173, 120);
    padding-bottom:30px;
}

.seemptoms{
    background-color:#7a2432;
}

#head{
    font-size:80px;
    text-align:center;
    font-family:'Roboto';
    color:#7a2432;
}

.faccs{
    background-color:#ffcccb;
}

#ques{
    color:#c23a22;
}

#p{
    color:#c23a22;
}

#youtube{
    margin-top:40px;
    font-size:80px;
    text-align:center;
    font-family:'Roboto';
    color:rgb(238, 173, 120);
}

.vid{
    margin-top: 70px;
    margin-left: 330px;
}

.end{
    background-color:#ffcccb;
}

.end p{
    color:#7a2432;
    font-family:'Roboto';
    text-align: center;
    font-size:40px;
    font-weight: 600;
}

